body {
    font-size: .875rem;
  }
.bg-darker{
    background-color: #1d2024!important;
}  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
 
.dataTables_wrapper .dataTables_filter {
    text-align: right;
}

.dataTables_wrapper .dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

.dataTables_wrapper .dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_length select {
  width: 50px;
  display: inline-block;
}

.dataTables_wrapper .dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

.dataTables_wrapper .dataTables_paginate ul.pagination {
  margin: 2
px
0;
  white-space: nowrap;
  justify-content: flex-end;
}
/* .dataTables_filter {
  display: none;
  } */
  @media print {
    body * {
      visibility: hidden;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
    }
    #section-to-print {
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
    }
    main {
      width: 100%;
      display: block;
      flex: 0 0 83.333333%;
    max-width: 83.333333%;
    }
  }
  #progressbar{
    height: 26px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    background: rgba(159, 159, 159, 0.5);
    border-radius: 10px;
    margin: -20px 0 0 -100px;
    
    z-index: 1000;
    display: none;
  }
  #loading{
    transition: all 500ms ease;
    height: 20px;
    width: calc(100% - 10px);
    border-radius: 8px;
    background: #474747;
    position: absolute;
    margin: 3px;
    display: inline-block;
    animation: load 2s ease ;
  }
  #load{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-top: -30px;
  }
  
  @keyframes load{
    0%{
      width: 2%;
    }
    10%{
      width: 10%;
    }
  }